[submodule "Chp5/AgeProgression"]
	path = Chp5/AgeProgression
	url = https://github.com/johnhany/AgeProgression
[submodule "Chp6/pix2pix"]
	path = Chp6/pix2pix
	url = https://github.com/johnhany/pytorch-CycleGAN-and-pix2pix
[submodule "Chp6/pix2pixHD"]
	path = Chp6/pix2pixHD
	url = https://github.com/johnhany/pix2pixHD
[submodule "Chp7/srgan"]
	path = Chp7/srgan
	url = https://github.com/johnhany/SRGAN.git
