[submodule "Chp5/AgeProgression"]
	path = Chp5/AgeProgression
	url = https://github.com/johnhany/AgeProgression
[submodule "Chp6/pix2pix"]
	path = Chp6/pix2pix
	url = https://github.com/johnhany/pytorch-CycleGAN-and-pix2pix
[submodule "Chp6/pix2pixHD"]
	path = Chp6/pix2pixHD
	url = https://github.com/johnhany/pix2pixHD
[submodule "Chp7/srgan"]
	path = Chp7/srgan
	url = https://github.com/johnhany/SRGAN.git
[submodule "Chp7/inpaint"]
	path = Chp7/inpaint
	url = https://github.com/johnhany/generative-inpainting-pytorch.git
[submodule "Chp9/stackgan-v2"]
	path = Chp9/stackgan-v2
	url = https://github.com/johnhany/StackGAN-v2
[submodule "Chp10/seqgan"]
	path = Chp10/seqgan
	url = https://github.com/johnhany/seqGAN.git
[submodule "Chp10/segan"]
	path = Chp10/segan
	url = https://github.com/johnhany/segan_pytorch.git
